.header{
    grid-area: header;
    min-width: 600px;
    border: solid 1px gray;
}
.main{
    grid-area: main;
    min-width: 700px;
    background-color: #C5DDE8;
    border-radius: 15px;
    border: solid 1px gray;
}
.left{
    grid-area: left;
}

.container{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-areas: "header header header"
                          "left main right";
    grid-template-columns: 220px 1fr 220px;
    grid-template-rows: 120px 1fr;
    min-height: 100vh;
    grid-gap: 1em; 
}
/*@media screen and (max-width: 600px){
    .container{
        grid-template-areas: "header" "left" "main" "right";
        grid-template-columns: 600px;
        grid-template-rows: 100px 50px 1fr 50px 30px;
    }
} */
