body{
    min-width: 600px;
}
a, a:hover{
    text-decoration: none;
    padding: 5px;
    font: normal 0.85em 'century gothic';
}
h1{
    font: normal 1.7em 'century goyhic';
}
h2{
    font: normal 1.5em 'century gothic';
    text-decoration: none;
}
h3{
    font: normal 1.3em 'century gothic';
    text-decoration: none;
}
h4{
    font: normal 1.1em 'century gothic';
    text-decoration: none;
    align-self: center;

}
input[type="text"], input[type="password"], input[type="email"], input[type="date"]{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 170px;

}
.header{
    border-radius: 10px;
    min-width: 600px;
    padding: 20px;
}
.sign-out_btn{
    float: right;
}
.sign-in, .sign-up, .register-btn, .addFriendButton,
.send-message-btn, .updateAvatar, .goToDialogBtn,
.deleteFriendButton, .getAllUsers, .search-btn,
.upload, .send-post-btn, .editorInput-btn{
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font: normal 0.8em 'century gothic';
    width: 150px;
}
.Friend_Btn-position{
    float: left;
    padding: 10px;
}
label{
    font: normal 0.9em 'century gothic';
    text-decoration: none;
    margin-bottom: auto;
}
/*span{
    font: normal 1.3em 'century gothic';
    text-decoration: none;
    color: darkslategray;
    margin-bottom: auto;
}*/
.havent-mess{
    list-style-type: none;
    font: normal 1em 'century gothic';
    margin-left: 100px;
    margin-right: 100px;
    min-height: 120px;

}
.menu ul li{
    margin: 15px;
    text-align: left;
    list-style-type: none;
    border-radius: 5px;
}
ul{
    list-style-type: none;
}
.tabs{
    border-radius: 10px;
    float: left;
    padding: 20px;
    margin-top: auto;
}
.friend-container{
    margin-top: 10px;
    border-radius: 5px;
    width: 470px; height: 130px;
    margin-bottom: 30px;
    margin-left: 10px;

}
.avatar {
    -webkit-border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    object-fit: cover;
    width: 150px;
    height: 200px;
}
.friend-avatar, .dialog-user-avatar{
    -webkit-border-radius: 20px;
    margin-top: 5px;
    margin-left: 10px;
    object-fit: cover;
    width: 100px;
    height: 100px;
}
.deleteFriendBtn, .addFriendBtn{
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font: normal 0.6em 'century gothic';
    width: 150px;
    float: left;
}
.friend_list{
    margin-left: 10%;
    margin-right: 10%;
}
.dialog-row-contain{
    margin-top: 10px;
    border-radius: 15px;
    width: 100px; height: 130px;
}
.tabss{
    border-radius: 10px;
    overflow-y: auto;
    min-height: 160px;
    min-width: 400px;
    margin: 20px;
    margin-top: 30px;
}
.dialog-message-container{
    list-style-type: none;
    width: 300px;
    hyphens: auto;
}
.dialog-area{

    width: 500px;
    overflow-x: hidden;
}
.t-area, .wall-post-textarea, .areaeditorInput{
    resize: none;
    border-radius: 5px;
    width: 500px;
}
.send-message-btn, .send-post-btn{
    display: block;
}
.full-name{
    display: flex;
}
.Lastname, .Firstname{
    font: normal 1.3em 'century gothic';
    text-decoration: none;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 5px;
}
.Username, .text-friend{
    font: normal 1em 'century gothic';
    text-decoration: none;
    margin-bottom: auto;
}
.textPost{
    font: normal 1em 'century gothic';
    text-decoration: none;
    margin: 0;
    margin-left: 120px;
    hyphens: auto;
    word-break:break-all;
}
.profile-btn{
    margin: 20px;
    display: inline-flex;
}
.select-search{
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
    display: inline-block;
    font: normal 0.8em 'century gothic';
    width: 150px;
}
.search-area{
    padding: 4px;
    border-radius: 5px;
    margin-top: 3px;
    display: inline-block;
    font: normal 0.8em 'century gothic';
    width: 450px;
}
.sign-up-btn{
    display: flex;
}
.load-avatar{
    padding: 4px;
    border-radius: 5px;
    margin-top: 3px;
    display: inline-block;
    font: normal 0.8em 'century gothic';
}
.panel-footer{
    margin-top: 50px;
}
.headline{
    height: 30px;
}
.panel-body{
    margin-top: 10px;
}
.btn{
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font: normal 0.8em 'century gothic';
    width: 150px;
    margin: 5px;
    float: left;
}
.comm-container{
    min-height: 82px;
    width: 500px;
    border-radius: 5px;
}
.fed-container, .dialog-row-contain, .search-user-contain{
    min-height: 125px;
    width: 600px;
    border-radius: 5px;
}
.dialog-row{
    font: normal 1.3em 'century gothic';
}
.time{
    font: normal 1em 'century gothic';
    margin: 0px;
    margin-right: 5px;
    float: right;
}
.feed-container, .walpost, .comment-container, .dialog-row-contain, .search-user-contain{
    width: 600px;
    margin-bottom: 40px;
    margin-left: 10px;
}
.wallPost{
    min-height: 125px;
    width: 600px;
    border-radius: 5px;
}
.wall-link{
    margin-left: 5px; 
}
.name a{
    font: normal 1.3em 'century gothic';
    cursor: pointer;
    width: 300px;
}
.dialog-row-contain, .search-user-contain li{
    list-style-type: none;
}
.link{
    width: 100px;
    margin-left: 200px;
    cursor: pointer;
}
#test{
    width: 600px;
    font: normal 1em 'century gothic';
    margin-left: 200px;
}
.Status{
    margin: 0;
    font-size: 1em;
    width: 200px;
    margin-left: 145px;
}
.editing-inputs{
    margin-left: 200px;
}
.editorInput-select{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 170px;
}
.name{
    font: normal 1.2em 'century gothic';
    text-decoration: none;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 5px;
    display: flex;
}
.comment-name a{
    font: normal 1.2em 'century gothic';
    text-decoration: none;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 5px;
    cursor: pointer;
}
.comm-avatar{
    -webkit-border-radius: 20px;
    margin-top: 5px;
    margin-left: 10px;
    object-fit: cover;
    width: 70px;
    height: 70px;
}
.community-avatar{
    -webkit-border-radius: 20px;
    margin-top: 5px;
    margin-left: 10px;
    object-fit: cover;
    width: 70px;
    height: 70px;
}
.feed-text-comm a, .feed-text-comm p{
    margin-left: 0;
    font-size: 0.9em;
}
.feed-text-comm p{
    margin-left: 87px;
}
.communities-list{
    min-height: 100px;
    width: 400px;
    border-radius: 5px;
    margin: 10px;
}
.communities-list a{
    margin-left: 0;
    font-size: 1.2em;
}
.communities-member{
    border-radius: 5px;
    width: 300px;
    padding: 5px;
    margin: 10px;
}
.communities-member a{
    font-size: 1.2em;   
}
.name input[type="image"]{
    float: right;
    margin-left: 125px;
    padding: 5px;
}


			
			/* убираем отступы и поля, а также list-style для "ul", 
			 * и добавляем "position:relative" */
			nav ul {
			    padding:0;
			    margin:0;
			    list-style: none;
			    position: relative;
                min-width: 100px;
                border-radius: 5px;
			    }
			
			/* применяем inline-block позиционирование к элементам навигации */
			nav ul li {
			    display:inline-block;
			    }
			
			/* стилизуем ссылки */
			nav a {
			    display:block;
			    text-decoration:none;
			}
			
			/* изменяем цвет фона при наведении курсора */
nav ul ul {
			    display: none;
			    position: absolute;
			    top: 100%;
			}
			
			/* отображаем выпадающий список при наведении */
			nav ul li:hover > ul {
			    display:inherit;
			}
			
			/* первый уровень выпадающего списка */
			nav ul ul li {
			    min-width:60px;
			    float:none;
			    display:list-item;
			    position: relative;
			}