body{
    background-color: white;
    min-width: 600px;
}
.page{
    margin-left: 400px;
    margin-right: 400px;
    min-width: 1000px;
}
a, a:hover{
    text-decoration: none;
    padding: 5px;
    font: normal 1em 'century gothic';
    color: darkslategray;
    width: 400px;

}
h1{
    font: normal 1.7em 'century goyhic';
    color: darkslategray;
}
h2{
    font: normal 1.5em 'century gothic';
    text-decoration: none;
    color: darkslategray;
}
h3{
    font: normal 1.3em 'century gothic';
    text-decoration: none;
    color: darkslategray;
}
h4{
    font: normal 1.1em 'century gothic';
    text-decoration: none;
    color: darkslategray;
    align-self: center;

}
input[type="text"], input[type="password"], input[type="email"]{
    padding: 5px;
    border: solid 1px pink;
    border-radius: 5px;
    margin-bottom: 5px;

}
.header{
    background: linear-gradient(45deg, #EECFBA, #b1d0de);
    border-radius: 10px;
    min-width: 600px;
    padding: 25px;
}
.sign-out_btn{
    float: right;
}
.incor_username{
    color: red;
}
.sign-in, .sign-up, .register-btn, .addFriendButton,
.send-message-btn, .updateAvatar, .goToDialogBtn,
.deleteFriendButton, .getAllUsers, .search-btn,
.upload, .send-post-btn{
    padding: 4px;
    background-color: white;
    border: solid 1px pink;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font: normal 0.8em 'century gothic';
    width: 150px;
}
.sign-up{}
.Friend_Btn-position{
    float: left;
    padding: 10px;
}
label{
    font: normal 0.9em 'century gothic';
    text-decoration: none;
    color: darkslategray;
    margin-bottom: auto;
}
/*span{
    font: normal 1.3em 'century gothic';
    text-decoration: none;
    color: darkslategray;
    margin-bottom: auto;
}*/
.havent-mess{
    list-style-type: none;
    font: normal 1em 'century gothic';
    margin-left: 100px;
    margin-right: 100px;
    min-height: 120px;

}
.menu ul li{
    margin: 15px;
    text-align: left;
    list-style-type: none;
    background-color: #b1d0de;
    border-radius: 5px;
}
ul{
    list-style-type: none;
}
.tabs{
    background-color: #b1d0de;
    border-radius: 10px;
    float: left;
    padding: 20px;
    margin-top: auto;
}
.friend-container{
    margin-top: 10px;
    border-radius: 5px;
    width: 470px; height: 130px;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 10px;

}
.avatar {
    border: solid 2px #000;
    -webkit-border-radius: 20px;
    margin-left: 40px;
    margin-right: 5px;
}
.friend-avatar, .dialog-user-avatar{
    border: solid 2px #000;
    -webkit-border-radius: 20px;
    margin: 10px;
}
.deleteFriendBtn, .addFriendBtn{
    padding: 4px;
    background-color: white;
    border: solid 1px pink;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font: normal 0.6em 'century gothic';
    width: 150px;
    float: left;
}
.friend_list{
    margin-left: 10%;
    margin-right: 10%;
}
.dialog-row-contain{
    background-color: white;
    margin-top: 10px;
    border-radius: 15px;
    width: 100px; height: 130px;
}
.tabss{
    background-color: #b1d0de;
    border-radius: 10px;
    overflow-y: auto;
    min-height: 160px;
    min-width: 400px;
    margin: 20px;
    margin-top: 30px;
}
.dialog-message-container{
    list-style-type: none;
    width: 300px;
    hyphens: auto;
}
.dialog-area{

    width: 500px;
    overflow-x: hidden;
}
.t-area, .wall-post-textarea{
    resize: none;
    border: solid 1px pink;
    border-radius: 5px;
    width: 500px;
}
.send-message-btn, .send-post-btn{
    display: block;
}
.full-name{
    display: flex;
}
.Lastname, .Firstname{
    font: normal 1.3em 'century gothic';
    text-decoration: none;
    color: darkslategray;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 5px;
}
.Username, .text-friend{
    margin-left: 5px;
    font: normal 1em 'century gothic';
    text-decoration: none;
    color: darkslategray;
    margin-bottom: auto;
}
.textPost{
    font: normal 1em 'century gothic';
    text-decoration: none;
    color: darkslategray;
    margin: 0px;
    hyphens: auto;
    word-break:break-all;
}
.profile-btn{
    margin: 20px;
    display: inline-flex;
}
.select-search{
    padding: 4px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
    display: inline-block;
    font: normal 0.8em 'century gothic';
    width: 150px;
}
.search-area{
    padding: 4px;
    background-color: white;
    border-radius: 5px;
    margin-top: 3px;
    display: inline-block;
    font: normal 0.8em 'century gothic';
    width: 450px;
}
.sign-up-btn{
    display: flex;
}
.load-avatar{
    padding: 4px;
    border-radius: 5px;
    margin-top: 3px;
    display: inline-block;
    font: normal 0.8em 'century gothic';
}
.panel-footer{
    margin-top: 50px;
}
.headline{
    height: 30px;
}
.panel-body{
    margin-top: 10px;
}
.btn{
    padding: 4px;
    background-color: white;
    border: solid 1px pink;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font: normal 0.8em 'century gothic';
    width: 150px;
    margin: 5px;
    float: left;
}
.comm-container{
    background-color: white;
    min-height: 82px;
    width: 500px;
    border-radius: 5px;
}
.fed-container, .dialog-row-contain, .search-user-contain{
    background-color: white;
    min-height: 125px;
    width: 600px;
    border-radius: 5px;
}
.dialog-row{
    font: normal 1.3em 'century gothic';
}
.time{
    font: normal 1em 'century gothic';
    margin: 0px;
    margin-right: 5px;
    float: right;
}
.feed-container, .walpost, .comment-container, .dialog-row-contain, .search-user-contain{
    width: 600px;
    margin-bottom: 40px;
    margin-left: 10px;
}
.wallPost{
    background-color: white;
    min-height: 125px;
    width: 600px;
    border-radius: 5px;
}
.name a{
    font: normal 1.3em 'century gothic';
}
.dialog-row-contain, .search-user-contain li{
    list-style-type: none;
}