body{
    background-color: #C5DDE8;
    min-width: 1000px;
}
.page{
    margin-left: 20%;
    margin-right: 20%;
    min-width: 1000px;
}
.page_name{
    min-width: 1000px;
}
.panel-header{
    margin-left:200px;
}
a, a:hover{
    text-decoration: none;
    padding: 5px;
    font: normal 100% 'century gothic';
    color: darkslategray;
    width: 400px;
    hyphens: auto;
    word-break:break-all;
}
h1{
    font: normal 30px 'century goyhic';
    color: darkslategray;
}
h2{
    font: normal 25px 'century gothic';
    text-decoration: none;
    color: darkslategray;
}
h3{
    font: normal 20px 'century gothic';
    text-decoration: none;
    color: darkslategray;
}
h4{
    font: normal 20px 'century gothic';
    text-decoration: none;
    color: darkslategray;
    margin-bottom: auto;

}
input[type="text"], input[type="password"], input[type="email"]{
    padding: 5px;
    border: solid 1px pink;
    border-radius: 5px;

}
.header{
    padding: 35px;
    background: linear-gradient(45deg, #EECFBA, #b1d0de);
    border-radius: 10px;
    margin-bottom: 20px;
    min-width: 1000px;
}
.sign-out_btn{
    float: right;
}
.incor_username{
    color: red;
}
.sign-in, .sign-up, .register-btn, .addFriendButton,
.send-message-btn, .updateAvatar, .goToDialogBtn,
.deleteFriendButton, .getAllUsers, .search-btn,
.upload{
    padding: 4px;
    background-color: white;
    border: solid 1px pink;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
    display: inline-block;
    font: normal 18px 'century gothic';
    width: 150px;
}
.sign-up{margin-left: 5px;}
.Friend_Btn-position{
    float: left;
    padding: 10px;
}
label{
    font: normal 90% 'century gothic';
    text-decoration: none;
    color: darkslategray;
    margin-bottom: auto;
}
span{
    font: normal 140% 'century gothic';
    text-decoration: none;
    color: darkslategray;
    margin-bottom: auto;
}
.havent-mess{
    list-style-type: none;
    font: normal 100% 'century gothic';
    margin-left: 400px;
    margin-right: 400px;


}
.menu ul li{
    margin: 15px;
    text-align: left;
    list-style-type: none;
    background-color: #b1d0de;
    border-radius: 5px;
}
.tabs{
    background-color: #b1d0de;
    border-radius: 10px;
    float: left;
    padding: 20px;
    margin-top: auto;
}
.friend-container{
    margin-top: 10px;
    border-radius: 15px;
    width: 470px; height: 130px;
    background-color: #b1d0de;

}
.avatar {
	border: solid 2px #000;
	-webkit-border-radius: 20px;
    margin-left: 40px;
    margin-right: 5px;
}
.friend-avatar{
    border: solid 2px #000;
	-webkit-border-radius: 20px;
    margin: 10px;
}
.deleteFriendBtn,addFriendBtn{
    padding: 4px;
    background-color: white;
    border: solid 1px pink;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font: normal 15px% 'century gothic';
    width: 150px;
}
.friend_list{

}
.dialog-row-container{
    margin-top: 10px;
    border-radius: 15px;
    width: 100px; height: 130px;
}
.tabss{
    background-color: #b1d0de;
    border-radius: 10px;
    float: left;
    padding: 20px;
    margin-top: auto;
    overflow-y: scroll;
    height: 250px;
}
.dialog-message-container{
    list-style-type: none;
    width: 300px;
    hyphens: auto;
}
.dialog-area{

width: 500px;
overflow-x: hidden;
}
.t-area{
    resize: none;
    border: solid 1px pink;
    border-radius: 5px;
    width: 500px;
}
.send-message-btn{
    display: block;
}
.text-area{
    margin-left: 5px;
    margin-right: 5px;
}
.full-name{
    display: flex;
}
.Lastname, .Firstname{
    margin-left: 5px;
    font: normal 130% 'century gothic';
    text-decoration: none;
    color: darkslategray;
    margin-bottom: auto;
}
.profile-btn{
    display: flex;
}
.panel-primary, .panel-header{
    margin-left: 29%;
    margin-right: 20%;
}
.select-search{
    padding: 4px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
    display: inline-block;
    font: normal 80% 'century gothic';
    width: 150px;
}
.search-area{
    padding: 4px;
    background-color: white;
    border-radius: 5px;
    margin-top: 3px;
    display: inline-block;
    font: normal 80% 'century gothic';
    width: 450px;
}
.sign-up-btn{
    display: flex;
}
.load-avatar{
    padding: 4px;
    border-radius: 5px;
    margin-top: 3px;
    display: inline-block;
    font: normal 80% 'century gothic';
}