<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type">
        <script src="//code.jquery.com/jquery-1.7.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
        <link rel="stylesheet" type="text/css"  th:href="@{/css/specialstyle.css}"/>
        <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css"  th:href="@{'/css/'+${currentUser.theme}}"/>
        <title>Feedback</title>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div th:replace="~{user_element::header()}"></div>
            </header>
            <main class="main" align="center">
                <script th:inline="javascript">
                    addAdminLink([[${currentUser.getRole()}]]);
                </script>
                <h2 class="headline" align="center">Feedback</h2>
                <div align="center" class="panel-primary">
                    <h4>Message to support</h4>
                    <form th:action="'/feedback'" method="post">
                        <textarea class="wall-post-textarea" name="ticketText" cols="25" rows="9" maxlength="1999" ></textarea>
                        <input type="submit" class="send-post-btn" value="Send ticket to support"/>
                    </form>
                </div>
            </main>
            <aside class="left">
                <div th:replace="~{user_element::sideMenu()}"></div>
            </aside>
        </div>
    </body>
</html>