<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Friend's Page</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>
    <script src="//code.jquery.com/jquery-1.7.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body onload="checkPageFriend()">

<div class="page">
        <div class="menu" id="user">
            <ul class="tabs">
                <li class="tab" id="profile">
                    <a href="/user">My profile</a>
                </li>
                <li class="tab" id="friends">
                    <a href="/user/friends">Friends</a>
                </li>
                <li class="tab" id="messages">
                    <a href="/messages">Messages</a>
                </li>
                <li class="tab" id="search">
                    <a href="/user/search">Search</a>
                </li>
            </ul>
            <div>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="sign-up" value="Sign Out"/>
                </form>
            </div>
        </div>



    <div class="panel panel-primary">
        <p id="page-type" th:type="hidden" th:text="${pageType}"></p>
        <a href="/user/friends">Your friends</a>
        <a href="/user/friends/in">Incoming request</a>
        <a href="/user/friends/out">Outcoming request</a>
        <div class="panel-header">
            <h4>Friend list:</h4>
        </div>
        <div class="panel-body">
            <div class="friend_list">
                <span th:each="friend:${usersFriends}">
                    <span th:insert="~{user_element::userElement(firstName=${friend.firstName},lastName=${friend.lastName},id=${friend.id})}"></span>
                </span>
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>



</div>
</body>
</html>