<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type">
        <script src="//code.jquery.com/jquery-1.7.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css"  th:href="@{/css/logingrid.css}"/>
        <link rel="stylesheet" type="text/css"  th:href="@{/css/normalstyle.css}"/>
        <title >Login</title>
    </head>
    <body>
        <div class="page" align="center">
        <div class="container">
            <main align="center" class="main">
                <div>

                    <h2 class="headline" align="center">Sign in</h2>
                    <div th:if="${param.error}" class="incor_username">
                        Incorrect username and password.
                    </div>
                    <form th:action="@{/login}" method="post">
                        <h4 class="subheader">Username</h4>
                        <input type="text" name="username" placeholder="Username" maxlength="20"  pattern="^[a-zA-Z0-9]+$" required autocomplete="off">
                        <h4 class="subheader">Password</h4>
                        <input type="password" name="password" placeholder="Password" maxlength="30"  pattern="^[a-zA-Z0-9]+$" required><br>
                        <div class="buttons_wrap">
                            <button class="sign-in" type="submit">Sign In</button><br>
                        </div>
                    </form>
                    <form action="registration">
                        <button class="sign-up" >Sign Up</button>
                    </form>
                </div>
            </main>
            
            </div></div>
    </body>
</html>