<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>
    <script src="//code.jquery.com/jquery-1.7.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>

<div class="page">
        <div class="menu" id="user">
            <ul class="tabs">
                <li class="tab" id="profile">
                    <a href="/user">My profile</a>
                </li>
                <li class="tab" id="friends">
                    <a href="/user/friends">Friends</a>
                </li>
                <li class="tab" id="messages">
                    <a href="/messages">Messages</a>
                </li>
                <li class="tab" id="search">
                    <a href="/user/search">Search</a>
                </li>
            </ul>
            <div>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="sign-up" value="Sign Out"/>
                </form>
            </div>
        </div>



    <div class="panel panel-primary">

        <div class="panel-header">
            <h4>Your dialogs:</h4>
        </div>
        <div class="panel-body">
            <div class="dialog-row">
                <ul th:each="user:${users}">
                    <li th:replace="~{user_element::dialogRow(firstName=${user.firstName},lastName=${user.lastName},id=${user.id})}">You haven't dialogs yet</li>
                </ul>
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>



</div>
</body>
</html>