<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>
    <script src="//code.jquery.com/jquery-1.7.min.js"></script>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="page">
    <div th:replace="~{user_element::header()}"></div>
    <div class="page_name" align="center">
        <h2>Messages</h2>
    </div>
    <div th:replace="~{user_element::sideMenu()}"></div>



    <div class="panel panel-primary">

        <div class="panel-header">
            <h4>Your dialogs:</h4>
        </div>
        <div class="panel-body">
            <div class="tabss">
                <div class="dialog-row">
                    <ul th:each="user:${users}">
                        <li align="center" class="havent-mess" th:replace="~{user_element::dialogRow(firstName=${user.firstName},lastName=${user.lastName},id=${user.id})}">You haven't dialogs yet</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>



</div>
</body>
</html>