<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>User's Page</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>
    <script src="//code.jquery.com/jquery-1.7.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body onload='checkTypeProfile()'>

<div class="page">
        <div class="menu" id="user">
            <ul class="tabs">
                <li class="tab" id="profile">
                    <a href="/user">My profile</a>
                </li>
                <li class="tab" id="friends">
                    <a href="/user/friends">Friends</a>
                </li>
                <li class="tab" id="messages">
                    <a href="/messages">Messages</a>
                </li>
                <li class="tab" id="search">
                    <a href="/user/search">Search</a>
                </li>
            </ul>
            <span class="login" th:text="'Hello,' +${currentUser.username}+'!'"></span>
            <div>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="sign-up" value="Sign Out"/>
                </form>
            </div>
        </div>

    <div class="panel panel-primary">
        <div class="panel-header">
            <h4>General information</h4>
        </div>
        <div class="panel-body">
            <div class="general_information">
                <p th:text="'Username: ' +${user.username}"></p>
                <p th:text="'First name: ' + ${user.firstName}"></p>
                <p th:text="'Last name: ' +${user.lastName}"></p>
                <p id="textFriend" th:text="${userView.isFriend}"></p>
            </div>
            <div class="profile-btn">
                <form th:action="'/messages/dialog'+${user.getId()}" method="get">
                    <input type="submit" class="goToDialogBtn"  id = "goToDialogBtn" value="Open dialog"/>
                </form>

                <form th:action="'/user/friends/add/'+${user.getId()}" method="get">
                    <input type="submit" class="addFriendButton"  id = "addFriendButton" value="Add as friend"/>
                </form>

                <form th:action="'/user/friends/delete/'+${user.getId()}" method="get">
                    <input type="submit" class="deleteFriendButton"  id = "deleteFriendButton" value="Cancel friendship"/>
                </form>
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>



</div>
</body>
</html>