<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type">
        <script src="//code.jquery.com/jquery-1.7.min.js"></script>
        <script th:src="@{/js/script.js}"></script>
        <link rel="stylesheet" type="text/css"  th:href="@{/css/specialstyle.css}"/>
        <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css"  th:href="@{'/css/'+${currentUser.theme}}"/>
        <title th:text="${user.firstName}+' '+${user.lastName}">Profile</title>
    </head>
    <body onload="checkTypeProfile()">
        <div class="container">
            <header class="header">
                <div th:replace="~{user_element::header()}"></div>
            </header>
            <main class="main">
                <h2 class="headline" align="center">Profile</h2>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="general_information">
                            <img class="avatar" th:src="'/upload/files/'+${user.avatar}" align="left"> <!--  -->
                            <div class="gen-inf">
                                <script th:inline="javascript">
                                    addAdminLink([[${currentUser.getRole()}]]);
                                </script>
                                <div class="full-name">
                                <p class="Firstname" th:text="${user.firstName}">Vasya</p>
                                <p class="Lastname" th:text="${user.lastName}">Biber</p>
                                    </div>
                                <p class="Status" th:text="${user.status}">dfdf</p>
                                <div class="link" onclick="$('#test').toggle()">More info</div>
                                <div id="test" style="display:none">
                                <p class="Username" th:text="'Username: ' +${user.username}">dfdf</p>
                                <p class="DateOfBirth" th:text="'Gender: ' +${user.getGenderInString()}">Male</p>
                                <p class="Information" th:text="'Information: ' +${user.getInformation()}">infaaaaaaaaaaaaaaaaa</p>
                                <p class="DateOfBirth" th:text="'Date of birth: ' +${user.getBirthDate()}">1999-99-99</p>
                                <p class="text-friend" id="textFriend" th:text="${userView.isFriend}">dfd</p>
                                </div>
                            </div>
                        </div>
                        <div class="profile-btn" align="center">
                            
                            <form th:action="'/user/friends/'+${user.getId()}" method="get">
                                <input type="submit" class="updateAvatar"  id = "goToFriend" value="Friends"/>
                            </form>
                            <form th:action="'/messages/dialog'+${user.getId()}" method="get">
                                <input type="submit" class="goToDialogBtn"  id = "goToDialogBtn" value="Open dialog"/>
                            </form>
                            <form th:action="'/user/friends/add/'+${user.getId()}" method="get">
                                <input type="submit" class="addFriendButton"  id = "addFriendButton" value="Add as friend"/>
                            </form>

                            <form th:action="'/user/friends/delete/'+${user.getId()}" method="get">
                                <input type="submit" class="deleteFriendButton"  id = "deleteFriendButton" value="Cancel friendship"/>
                            </form>
                            <form th:action="'/upload'" method="get" style="visibility: hidden">
                                <input type="submit" class="updateAvatar"  id = "updateAvatar" value="Update avatar"/>
                            </form>
                            <form th:action="'/user/edit'" method="get" style="visibility: hidden">
                                <input type="submit" class="updateAvatar"  id = "editProfile" value="Edit profile"/>
                            </form>
                        </div>
                    </div>
                    <div class="feed-list" th:each="post:${posts}">
                        <div class="feed-content" align="center" th:classid="${post.getWall_id()}" th:id="${post.getId()}" th:insert="~{user_element::postElement(textPost=${post.text}, time=${post.time},wall_id=${post.wall_id},author_id=${post.author_id},author_fullname=${post.author_fullname}, avatar=${post.getAuthor_ava()}, post_id=${post.getId()}, community_id=${post.getCommunity_id()})}"></div>
                        <th:block th:each="comment:${post.comments}">
                            <div class="comment-list" th:insert="~{user_element::commentElement(textComment=${comment.getText()},time=${comment.getTime()},wall_id=${comment.getWall_id()},author_id=${comment.getAuthor_id()},author_fullname=${comment.getAuthor_fullname()}, avatar=${comment.getAuthor_ava()})}"></div>
                        </th:block>
                    </div>
                    <div align="center" class="panel-footer">
                        <div class="newPostArea">
                            <form th:action="'/user/' + ${user.id} + '/addPost'" method="post">
                                <textarea class="wall-post-textarea" name="textPost" cols="20" rows="5" maxlength="1999" ></textarea>
                                <input type="submit" class="send-post-btn" value="Add post on wall"/>
                            </form>
                        </div>
                    </div>
                    </div>
            </main>
            <aside class="left">
                <div th:replace="~{user_element::sideMenu()}"></div>
            </aside>
        </div>
    </body>
</html>