<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type">
        <script src="//code.jquery.com/jquery-1.7.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
        <link rel="stylesheet" type="text/css"  th:href="@{/css/specialstyle.css}"/>
        <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div th:fragment="header()">
                    <div align="center">
                        <h1>SlowPoke</h1>
                    </div>
                    <div class="sign-out_btn">
                        <form th:action="@{/logout}" method="post">
                        <input type="submit" class="sign-up" value="Sign Out"/>
                        </form>
                    </div>
                </div>
            </header>
            <main class="main">
                
                <div class="friend-container" th:fragment="userElement(firstName,lastName,id,avatar)"> <!-- КОНТЕЙНЕР ДЛЯ ДРУГАНОВ-->
    <div class="photo">
        <img class="friend-avatar" th:src="'/upload/files/'+${avatar}" width="100" height="100" align="left">
        <div class="name">
        <a class="name" align="center" th:href="'/user/'+${id}" th:text="${firstName} + ' ' + ${lastName}">xcxcxcx</a>
        </div>
    </div>
    <div align="center" class="friend-btn">
        <form th:action="'/user/friends/delete/'+${id}" method="get" >
            <input type="hidden" name="ffl" value="1" />
            <input type="submit" class="deleteFriendBtn"  id = "deleteFriendBtn" value="Remove from friends"/>
        </form>
        <form th:action="'/user/friends/add/'+${id}" method="get" >
            <input type="hidden" name="ffl" value="1" />
            <input type="submit" class="addFriendBtn"  id = "addFriendBtn" value="Accept request"/>
        </form>
    </div>
</div>

<li class="search-user-container" th:fragment="searchUser(firstName,lastName,id)">
    <a th:href= "'/user/'+${id}" th:text="${firstName} + ' ' + ${lastName}"></a>
</li>

<li class="dialog-row-container" th:fragment="dialogRow(firstName,lastName,id,avatar)">
    <img class="dialog-user-avatar" th:src="'/upload/files/'+${avatar}" width="100" height="100" align="left">
    <a class="dialog-row" th:href= "'/messages/dialog'+${id}" th:text="${firstName} + ' ' + ${lastName}"></a>
</li>


        <li class="dialog-message-container" th:fragment="messageRow(textMessage,timeMessage)">
            <a th:text="${timeMessage}"></a>
            <a th:text="${textMessage}"></a>
        </li>



<br><br><br><br><br><br><br><br><br><br>
<div class="feed-container" id="feedCont" th:fragment="postElement(textPost,time,wall_id,author_id,author_fullname, avatar, post_id)">  <!-- FEED -->
    <div class="fed-container" id="fed-container">
    <div class="photo">
            <img class="friend-avatar" th:src="'/upload/files/'+${avatar}" align="left">
                
    </div>
        <div class="name">
            <a class="name"  th:href= "'/user/'+${author_id}" th:text="'From: '+${author_fullname}">Vasya Bublik</a>
        </div>
            <div class="feed-text" th:id="${post_id}">
            <a class="wall-link" th:id="${wall_id} " th:href= "'/user/'+${wall_id}" th:text="'Post on wall'">sdsdsdsds</a>
            <p class="textPost" th:text="${textPost}">sdsds</p>
        </div>
    </div>
    <p class="time" th:text="${time}">14:12</p>
    <form th:action="'/user/'+${wall_id}+'/deletePost/'+${post_id}" method="post">
        <input class="btn" type="submit" th:value="'Delete'" name="deleteBtn">
    </form>
        <input class="btn" type="submit" th:value="'Comments'" name="commentBtn" OnClick="createCommentArea(this);">
</div>







                <div class="comment-container" align="right" id="commentCont" th:fragment="commentElement(textComment,time,wall_id,author_id,author_fullname, avatar)"> <!— FEED —>
                    <div class="comm-container" align="left">
                        <div class="photo">
                            <img class="comm-avatar" th:src="'/upload/files/'+${avatar}" width="60" height="60" align="left">

                        </div>
                        <div class="comment-name">
                            <a class="name" th:href= "'/user/'+${author_id}" th:text="'From: '+${author_fullname}">Serega Otvertka</a>
                        </div>
                        <div class="feed-text-comm">
                            <a th:href= "'/user/'+${wall_id}" th:text="'Post on wall'">Eshkere</a>
                            <p class="textPost" th:text="${textComment}">Normes</p>
                        </div>
                    </div>
                    <p class="time" th:text="${time}">14:12</p>
                </div>






                
                <form th:action="'/user/'+${wall_id}+'/deletePost/'+${post_id}" method="post">
                        <input class="btn" type="submit" th:value="'Delete'" name="deleteBtn">
                    </form>
                
                    <input class="btn" th:id="${post_id}" th:classid="${wall_id}" type="submit" th:value="'Comments'" name="commentBtn" OnClick="createCommentArea(this);">
                <br><br>
                <div class="communities-list" th:fragment="communityRow(name,avatar,id)">
                    <div>
                        <div class="photo">
                            <img class="community-avatar" th:src="'/upload/files/'+${avatar}" align="left">
                        </div>
                        <div class="memder-name">
                        <a th:href= "'/community/'+${id}" th:text="${name}">xxxxx</a>
                    </div>
                    </div>
                </div>
<br><br>

    <div class="communities-member" th:fragment="commMember(firstName,LastName,id)" align="center">
        <a th:href= "'/user/'+${id}" th:text="${firstName}+' '+${LastName}">xxxxx</a>
    </div>
                
            </main>
            <aside class="left">
                <div class="menu" id="user" th:fragment="sideMenu()">
                    <ul class="tabs">
                        <li class="tab" id="profile">
                            <a href="/user"><img src="/upload/files/home.png" width="20px"></a>
                            <a href="/user">My profile</a>
                        </li>
                        <li class="tab" id="feed">
                            <a href="/user/feed"><img src="/upload/files/news.png" width="20px"></a>
                            <a href="/user/feed">Feed</a>
                        </li>
                        <li class="tab" id="friends">
                            <a href="/user/friends"><img src="/upload/files/friends.png" width="20px"></a>
                            <a href="/user/friends">Friends</a>
                        </li>
                        <li class="tab" id="messages">
                            <a href="/messages"><img src="/upload/files/message.png" width="20px"></a>
                            <a href="/messages">Messages</a>
                        </li>
                        <li class="tab" id="communities">
                            <a href="/user/communities"><img src="/upload/files/Commun.png" width="20px"></a>
                            <a href="/user/communities">Communities</a>
                        </li>
                        <li class="tab" id="search">
                            <a href="/user/search"><img src="/upload/files/search.png" width="20px"></a>
                            <a href="/user/search">Search</a>
                        </li>
                        <li class="tab" id="feedback">
                            <a href="/messages/dialog5"><img src="/upload/files/dialog.png" width="20px"></a>
                            <a href="/messages/dialog5">Feedback</a>
                        </li>
                    </ul>
                    </div>
            </aside>
        </div>
        
    </body>
</html>